.search-space{
    height: 153px;
}
.title-link{
    padding-left: 170px;
    padding-top:10px
}
.search-button{
    padding-left: 170px;
}
.des-search{
    width: 470px;
    height: 80px;
    background-color: white;
    border: 0.5px solid black;
}
.key-search{
    width: 630px;
    height: 80px;
    background-color: white;
    border: 0.5px solid black;
}
.text-button-1{
    margin-right: 350px;
    padding-bottom: 35px;
    border-radius: 10%;  
}
.text-button-2{
    margin-right: 450px;
    padding-bottom: 35px; 
    border-radius: 10%;       
}
.button-search{
    width: 100px;
    height: 80px;
    background-color: #1CCBBC;
    position: absolute;
    border-color: #1CCBBC;
}
.img-button{
    width: 90px;
    height: 80px;;
}
.body-space{
    background-color: #C3F7E7;
    width: 100%;
    height: 1000px;
    padding-bottom: 20px;
}
.tick-space{
    background-color: #FFFFFF;
    width: 250px;
    height: 360px;
    margin-left: 170px;
    position: absolute;
    margin-top: 50px;
    border-radius: 2%;
}
.type-text{
    font-size: 25px;
    padding-left: 30px;
    font-weight: bold;
}
.tick-box{
    display: flex;
}
.tick-button{
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-top: 22px;
    background-color: #FFFFFF;
    border-radius: 10%;
    border: 1px solid black;
}
.tick-button-1{
    width: 20px;
    height: 20px;
    margin-left: 30px;
    margin-top: 22px;
    background-color: #FFFFFF;
    border-radius: 10%;
    border: 1px solid black;
    background-image: url('/public/tick.png'); /* Đường dẫn tới ảnh */
    background-size: cover; /* Đảm bảo ảnh lấp đầy toàn bộ button */
    background-position: center; /* Căn giữa ảnh */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
}
.tick-text{
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Inter';
}
.tick-text:hover{
    color: red;
}
.sort-selection{
    height: 100px;
    background-color:#FFFFFF;
    width: 920px;
    position:relative;
    margin-left: 450px;
    top:50px;
    display: flex;
}
.sort-text{
    padding: 0px 36px;
    padding-top: 10px;
}
.sort-text:hover{
    color: red;
}
.line-sort{
    line-height: 50px;
    width: 20px;
}
.tour-pic-search{
    width: 250px;
    height: 190px;
    padding-top: 15px;
    padding-left: 15px;
}
.tour-product{
    display: flex;
    width: 920px;
    margin-left: 450px;
    height: 220px;
    position:relative;
    top: 80px;
    border: 1px solid white;
    background-color: white;
}
.tour-info{
    padding-left: 15px;
}
.tour-title{
    font-size: 20px;
    height: 20px;
}
.tour-title:hover{
    text-decoration: underline;
    color:red
}
.tour-available{
    font-size: 16px;
    padding-bottom: 5px;
    color: #1206FB;
}
.border-rate{
    background-color: #1A9EA8;
    width: 40px ;
    border-radius: 5%;
    height: 30px;
    display: flex; 
    align-items: center; 
    justify-content: center; 
}
.rate{  
    color: white;
}
.tour-rate{
    display:flex;
}
.review-numb{
    position: relative;
    margin-top: 4px;
    padding-left: 10px;
}
.tour-price{
    text-align: right;
    font-size: 35px;
    color: red;
    font-family: 'Inter';
    font-weight: 400;
}
.tour-space{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap:20px
}
