@font-face {
    font-family: 'Abhaya Libre';
    src: url('/file-font/Abhaya_Libre/AbhayaLibre-SemiBold.ttf') format('truetype');
}
.tourpage{
    background-color: white;
}
.tourpage-title{
    margin-left: 50px;
}
.tourpage-title-text{
    font-size: 50px;
    font-family: 'Abhaya Libre';
}
.tourpage-rating{
    background-color: #1A9EA8;
    color: white;
    border-radius: 3px;
    border: none;
    width: 95px;
    height: 66px;
    font-size: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.tourpage-title-sub{
    display: flex;
}
.tourpage-review{
    margin-left: 25px;
    font-size: 35px;
    margin-top: 13px;
    font-family: 'Inter';
}
.tourpage-line{
    margin: 0px 20px;
    margin-top: 10px;
    background-color: black;
    border: none;
    height: 49.5px;
    width:2px;
}
.tourpage-booked{
    font-size: 35px;
    margin-top: 13px;
    color: #817B7B;
    font-family: 'Inter';
}
.tourpage-pic{
    width: 889px;
    height: 552px;
    margin-left: 50px;
    margin-top: 50px;
}
.tourpage-price{
    width: 413px;
    height: 239px;
    margin-top: 50px;
    margin-left: 30px;
    background-color: #F7F3F4;
}
.tourpage-price p{
    font-size: 30px;
    font-family: 'Inter';
    margin-left: 28px;
}
.tourpage-price h2{
    font-size: 40px;
    color: #FF0000;
    font-family: 'Inter';
    font-weight: 450;
    position: relative;
    bottom: 25px;
    margin-left: 28px;
}
.tourpage-book-button{
    width: 357px;
    height: 53px;
    background-color: #1CCBBC;
    color: #FFFFFF;
    font-size: 25px;
    font-family: 'Inter';
    font-weight: 650;
    border: none;
    border-radius: 8px;
    position: relative;
    bottom: 20px;
    margin-left: 28px
}
.tourpage-info-1{
    display: flex;
}
.tourpage-info-2{
    width: 889px;
    height: 375px;
    background-color: #F7F3F4;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 8px;
}
.tourpage-info-2 h1{
    font-size: 40px;
    font-family: 'Inter';
    font-weight: 700;
    padding-left: 20px;
    padding-top: 30px;
}
.tourpage-info-2 li{
    padding-left: 20px;
    font-family: 'Inter';
    font-size: 20px;
    line-height: 50px;
}
.tourpage-info-3{
    width: 889px;
    height: 2620px;
    background-color: #F7F3F4;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 8px;
}
.tourpage-info-3 h1{
    font-size: 40px;
    font-family: 'Inter';
    font-weight: 700;
    padding-left: 20px;
    padding-top: 30px;
}
.tourpage-info-3 p{
    font-size: 20px;
    font-family: 'Inter';
    font-weight: 500;
    padding-left: 20px;
}
.tourpage-info-3 li{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Inter';
    font-size: 20px;
    padding-top: 10px;
    font-weight: 500;
    line-height: 50px;
}
.tourpage-info-3 h2{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Inter';
    font-size: 20px;
    padding-top: 40px;
    font-weight: 700;
    line-height: 50px;
    color: red;
}
.tourpage-info-4{
    width: 889px;
    height: 730px;
    background-color: #F7F3F4;
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 8px;
}
.tourpage-info-4 h1{
    font-size: 40px;
    font-family: 'Inter';
    font-weight: 700;
    padding-left: 20px;
    padding-top: 30px;
}
.tourpage-info-4 li{
    background-image: url('../../../public/tickgreen.png');
    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
    background-position-y: 15px;
    background-size: 29px 29px; /* Chỉnh kích thước hình ảnh thành 20x20px */
    padding-left: 40px;
    padding-right: 20px;
    font-family: 'Inter';
    font-size: 20px;
    padding-top: 10px;
    font-weight: 500;
    line-height: 40px;
}
.tourpage-info-4 ul{
    list-style-type: none; 
    padding-left: 30px;
}