@font-face {
    font-family: 'Abhaya Libre';
    src: url('/file-font/Abhaya_Libre/AbhayaLibre-SemiBold.ttf') format('truetype');
}
.tourpage{
    background-color: white;
}
.tourpage-title{
    margin-left: 50px;
}
.tourpage-title-text{
    font-size: 50px;
    font-family: 'Abhaya Libre';
}
.tourpage-rating{
    background-color: #1A9EA8;
    color: white;
    border-radius: 3px;
    border: none;
    width: 95px;
    height: 66px;
    font-size: 35px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.tourpage-title-sub{
    display: flex;
}
.tourpage-review{
    margin-left: 25px;
    font-size: 35px;
    margin-top: 13px;
    font-family: 'Inter';
}
.tourpage-line{
    margin: 0px 20px;
    margin-top: 10px;
    background-color: black;
    border: none;
    height: 49.5px;
    width:2px;
}
.tourpage-booked{
    font-size: 35px;
    margin-top: 13px;
    color: #817B7B;
    font-family: 'Inter';
}
.tourpage-pic{
    width: 889px;
    height: 552px;
    margin-left: 50px;
    margin-top: 50px;
}
.tourpage-price{
    width: 413px;
    height: 239px;
    margin-top: 50px;
    margin-left: 30px;
    background-color: #F7F3F4;
}
.tourpage-price p{
    font-size: 30px;
    font-family: 'Inter';
    margin-left: 28px;
}
.tourpage-price h2{
    font-size: 40px;
    color: #FF0000;
    font-family: 'Inter';
    font-weight: 450;
    position: relative;
    bottom: 25px;
    margin-left: 28px;
}
.tourpage-book-button{
    width: 357px;
    height: 53px;
    background-color: #1CCBBC;
    color: #FFFFFF;
    font-size: 25px;
    font-family: 'Inter';
    font-weight: 650;
    border: none;
    border-radius: 8px;
    position: relative;
    bottom: 20px;
    margin-left: 28px
}
.tourpage-info-1{
    display: flex;
}
.tourpage-info-2{
    width: 889px;
    height: 375px;
    background-color: #F7F3F4;
    margin-top: 20px;
}
.tourpage-info-2 h1{
    font-size: 40px;
    font-family: 'Inter';
    font-weight: 700;
    padding-left: 20px;
    padding-top: 30px;
}
.tourpage-info-2 p{
    padding-left: 20px;
    font-family: 'Inter';
    font-size: 20px;
}